<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ i18n "notfound.pagetitle" }} – {{ site.Title }}</title>
  {{- $css := resources.Get "css/main.css" | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
</head>
<body>
  {{- partial "header.html" site.Home -}}
  <main class="main section prose">
    <h1>{{ i18n "notfound.displaytitle" }}</h1>
    <p>{{ i18n "notfound.explanation" }}</p>
    <ul>
      <li><a href="{{ "/" | relLangURL }}">{{ i18n "notfound.links.home" }}</a></li>
      <li><a href="{{ "/r/" | relLangURL }}">{{ i18n "notfound.links.allrecipes" }}</a></li>
      <li><a href="https://github.com/riesinger/nononsensecooking/issues" rel="noopener">{{ i18n "notfound.links.github" }}</a></li>
    </ul>
  </main>
  {{- partial "footer.html" site.Home -}}
</body>
</html>
