{{ define "main" }}
<div class="section prose">
  <h1>{{ i18n "donation.displayPageTitle" }}</h1>
  <p>{{ i18n "donation.introduction" }}</p>
  <section>
    <h2>{{ i18n "donation.section.monthly.title" }}</h2>
    <ul>
      <li><a href="https://github.com/sponsors/riesinger" rel="noopener">GitHub Sponsors</a></li>
      <li>Brave Rewards</li>
    </ul>
    <h2>{{ i18n "donation.section.onetime.title" }}</h2>
    <ul>
      <li><a href="https://github.com/sponsors/riesinger" rel="noopener">GitHub Sponsors</a></li>
      <li><a href="https://paypal.me/PRiesinger" rel="noopener">PayPal</a></li>
      <li>Brave Rewards</li>
    </ul>
  </section>
</div>
{{ end }}
